
<%= stylesheet_link_tag "style" %>
<% content_for :header do %>
<%= javascript_include_tag "map" %>
<% end %>
<%= javascript_tag do %>
  map();
  <% end %>
<div id="main_div">
	<div id = 'info'>	</div>
	<div id="ITRImap">
		<div id="marker_div"></div>
    <%= image_tag "taiwan_icon_spring.png", :id=>"ITRImap_img" %>
      <%= image_tag "Gump_p.png", :id=>"thePositionIcon" %>
		<canvas id="canvas" ></canvas>
		<canvas id="marker_canvas"></canvas>
			</div>
	<div id = "img-div">
		<!--<img id = "itri_pic" src = "img/initial.jpg"/ onprogress="loading_text()">-->  <!--img/initial.jpg-->
		<div id="img_description"></div>
		<div id="loading_progress"></div>
	</div>


	<div id="operation_info">
		<p>
		<div class="btn-group" role="group" aria-label="...">
			<button id = "tab_left_button_id" type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
			<button id = "tab_button_id" type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
			點一下改變季節(換按下[Tab]鍵)
		</div>


		</p>
	</div>

	<div id="text_content">

	</div>

</div>

<meta name="robots" content="noindex">


<canvas id="itri_pic_canvas" width=500px></canvas>
