
<%= javascript_include_tag "map" %>
<div id="main_content">
    <div id = "tody_info">
    </div>
</div>
<!--<script src = 'fruit.js'></script>
<script src = 'fruit_data.js'></script>
-->
<script src = 'data.js'></script>
<!--<script src = 'main_db.js'></script>-->
<h2><%= link_to "æ”¿åºœè³‡æ–™é–‹æ”¾å¹³å°","http://data.gov.tw",:target=>"_blank" %><%= link_to "æ¯æœˆç››ç”¢è¾²ç”¢å“","http://data.gov.tw/node/8120",:target=>"_blank" %>Javascript API
</h2>
<p>author: <a target="_blank" href="http://yushengc1986.blogspot.com">Yu-Sheng Chen</a></p>
<h2>åŸå§‹è³‡æ–™</h2>
[ { "type":"æ°´æœ","month":"1","crop":"æ¤ªæŸ‘","variety":"","county":"è‹—æ —ç¸£","town":"å“è˜­é®"}, { "type":"æ°´æœ","month":"1","crop":"æ¤ªæŸ‘","variety":"","county":"å°ä¸­å¸‚","town":"æ±å‹¢å€"},...]
<br/>
<%= link_to "åŸå§‹è³‡æ–™é€£çµ","http://data.coa.gov.tw/Service/OpenData/DataFileService.aspx?UnitId=061"%>
<!--ï¿½ï¿½ï¿½Gï¿½İºï¿½ï¿½ï¿½ï¿½Hï¿½Uï¿½æ¦¡</br>
[</br>
{content_type1:content1-1, content_type2:content1-2,content_type3:content1-3, ..., content_typeN:content1-N},</br>
{content_type1:content2-1, content_type2:content2-2,content_type3:content2-3, ..., content_typeN:content2-N},</br>
{content_type1:content3-1, content_type2:content3-2,content_type3:content3-3, ..., content_typeM:content3-N},</br>
...</br>
{content_type1:contentM-1, content_type2:contentM-2,content_type3:contentM-3, ..., content_typeM:contentM-N}</br>
]</br>
-->
<h2>ä½¿ç”¨æ–¹æ³•</h2>
<ol>
	<li>ä¸‹è¼‰<%= link_to "db.js","https://dl.dropboxusercontent.com/u/32119999/07taiwan-fruit/db.js"%>
    </li>
	<li>åœ¨htmlä¸­çš„&lt;head&gt;èˆ‡&lt;/head&gt;ä¹‹é–“åŠ å…¥&lt;script src = 'db.js'&gt;&lt;/script&gt;å³å¯ä½¿ç”¨crops é€™å€‹object</li>

</ol>
<h2>example:æŸ¥è©¢åœ¨æŒ‡å®šçš„é„‰é®ä¸­æœ‰å“ªäº›è¾²ç”¢å“</h2>
<ol>
<li>æŒ‰ä¸‹F12æ‰“é–‹Consoleæ¨¡å¼</li>
<li>åœ¨consoleä¸­è¼¸å…¥crops.filter('å¤ªå¹³å€', 'town').db[0]</li>
å³å¯ä»¥å¾—åˆ°åœ¨å¤ªå¹³å€é€™å€‹é„‰é®æ‰€æœ‰è¾²ç”¢è¾²ç”¢å“ä¸­çš„ç¬¬ä¸€é …

</ol>
<h2>crops Classèªªæ˜</h2>
æˆ‘å€‘å°‡è¾²ç”¢å“å­˜åœ¨crops é€™å€‹classè£¡é¢ï¼Œä¸¦å¯¦ä½œäº†ç›¸é—œçš„methodä¾†è™•ç†é€™äº›è³‡æ–™ï¼Œæˆ‘å€‘ä½¿ç”¨éè¦çš„æŠ€å·§å¯¦ä½œï¼Œæ‰€ä»¥ç‰©ä»¶çš„æ“ä½œå¯ä»¥ç”¨ä¸²æµçš„æ–¹å¼ä½¿ç”¨ã€‚æ¯”å¦‚èªªæˆ‘å€‘æƒ³è¦éæ¿¾åœ¨å¤å­£è£¡åœ¨å¤ªå¹³å€ç››ç”¢çš„è¾²ç”¢å“ï¼Œå°±å¯ä»¥ç”¨crops.filter('å¤ªå¹³å€','town').filter_season(1).print2console();çš„æ–¹å¼å–å¾—
<h3>class assets</h3>
<h3>db</h3>
å­˜æ”¾jsonæª”æ¡ˆè¢«parseå¾Œçš„æª”æ¡ˆã€‚å­˜å–æ–¹å¼ç¯„ä¾‹ï¼šcrops.db[0]
<p>ex:crops.db[0]</p>
<h2>class method</h2>
<h3>filter(content, content_type)</h3>
<p>
  contentçš„å€¼å¡«çš„äº‹é„‰é®åç¨±, è€Œcontent_typeå¡«å…¥çš„æ˜¯å±¬æ€§ï¼Œæ¯”å¦‚'å¤ªå¹³å€'çš„å±¬æ€§æ˜¯'town'ï¼Œå‰‡å¯ä»¥é€™æ¨£ç”¨ï¼šcrops.filter('å¤ªå¹³å€','town')
  æ­¤filter()æœƒå›å‚³dataset_class Objectï¼Œå› æ­¤å¯ä»¥éè¦(recursive)çš„ä½¿ç”¨é€™å€‹method.</p>
<h3>filter_season(season)</h3>
<p>
  éæ¿¾ç›®å‰dbä¸­å±¬æ–¼æŒ‡å®šå­£ç¯€çš„è³‡æ–™ï¼Œseason = 0,1,2,3</br>
  0: æ˜¥</br>
  1: å¤</br>
  2: ç§‹</br>
  3: å†¬</br>
</p>

<h3>print2console()</h3>


<p>å°å‡ºè©²objectåº•ä¸‹dbä¸­çš„æ‰€æœ‰è³‡æ–™</p>
<p>ex:crops.filter('å¤ªå¹³å€','town').print2console()</p>
